{% block navbar %}
    <header>
      <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/blog"><span class="brand-name">Pretty Picky<img class="logo" src="../images/favicon.ico"/><span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/blog">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newpost">Add Entry</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0" action="https://duckduckgo.com" target="_blank" method="get">
            <input id="search-term" class="form-control" type="text" placeholder="Duckduckgo Search" name="q">
          </form>
        </div>
      </nav>
    </header>    
{% endblock %}
