{% extends "base.html" %}

{% block content %}
    <main>

      {% if blog|length == 0 %}
        <p>No reviews found on blog</p>
      {% else %}
          {% for review in blog %}
            <form class="py-3">
              <div class="container">
                <div class="col-md-6">
                  <div class="card mb-4 box-shadow bg-dark">
                    <a name="review-id" class="mx-auto" href="./blog?id={{ review.id }}"><h3>{{ review.name }}</h3></a>
                    <img class="card-img-top" src="static/images/{{ review.image }}" alt="{{ review.image }}">
                    <div class="card-body bg-light">
                      <p class="h4">{{ review.title }}</p>
                        <small class="text-muted">{{ review.date }}</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          {% endfor %}
      {% endif %}

    </main>
{% endblock %}
